auctions.csv.gzip filter=lfs diff=lfs merge=lfs -text
clicks.csv.gzip filter=lfs diff=lfs merge=lfs -text
events.csv.gzip filter=lfs diff=lfs merge=lfs -text
installs.csv.gzip filter=lfs diff=lfs merge=lfs -text
